<%- include("header") -%>
<h2>About</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, et necessitatibus minima a libero, minus quas modi ab rem itaque voluptates, autem delectus!
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eveniet magnam praesentium soluta nam nisi quod excepturi quo aliquid natus accusantium tempore culpa modi quidem, ad quam doloremque, facere magni explicabo. Numquam saepe exercitationem recusandae similique est magnam, quod qui corrupti tempora quam, ipsam dolor? 
</p>
<%- include("footer") -%>